#kana-tool div {
  display: block;
  width: 25%;
  margin: auto;
  text-align: center;
}

#kana-tool form {
  padding-bottom: 2em;
}

#kana-tool form input {
  text-align: center;
  height: 2em;
  color: #000;
}

.katakanizer-field {
  width: 88%;
  float: left;
}

.katakanizer-button {
  width: 12%;
  padding: 0;
  float: right;
}

#katakanizer-input:focus::-webkit-input-placeholder{
  color: transparent!important;
}
#katakanizer-input:focus::-moz-placeholder{
  color: transparent!important;
}
#katakanizer-input:focus:-moz-placeholder{
  color: transparent!important;
}
