#kana-tool div {
  display: block;
  width: 25%;
  margin: auto;
  text-align: center;
}

#kana-tool form input {
  width: 100%;
  text-align: center;
  height: 2em;
  color: #000;
}

#katakanizer-output {
  width: 85%;
}

#katakanizer-copy-button {
  width:12%
}
