#kana-tool div {
  display: block;
  width: 25%;
  margin: auto;
  text-align: center;
}

#kana-tool form input {
  text-align: center;
  height: 2em;
  color: #000;
}

#katakanizer-field {
  width: 85%;
  float: left;
}

.katakanizer-button {
  width: 12%;
  padding: 0;
  float: right;
}
